/* QQ888QQB########################BQQQQ8y=]|rK0888Q8
8888Q8QQBQ####################BQQQQQQ*:_`:*$880888
Q88888QQQQBBBBB############BBBBBQQ8Q&w--,-]8888888
QQQ888QQQQQQQBBB#B########BBBBQBQ%,i2`,~^n$888QQQQ
Q8QQQQ8QQQQQBQQBBB####BB##BB#BBOf&] :,'-:n888QQQQQ
Q8QQQQQQQQBQQQBQBBBBB#BB#BBBBQn? `rV'=<:!W888QQQQQ
QQQQQQQQQQQQQQQQBQBBBBBBQ8BBdh^ `~~`:==:<D888QQ8QQ
QQQQQQQBBQBBQBBQQBB##BB#V'v&}`,,``,^~~<(w88888QQQQ
BQQQQBBBQQBBBBBBQQQ#O}$BZ,`,Gr``,^`_,::~*688QQQQQQ
BBBBBBBBBBBBBBBQQBB#r :mB?.`,ne!-]n?v~*]ZQQQQQBBBQ
BBBB###BBBBBQB(_WB#Bi' _eAr-`.,r'`.````=DQQQQBBBBB
##BB#######BB8: `v8#6-` ,rlu?-=!iin}uy6#BBBQQBBBBB
###B####jy#B#B}_ .|e#j:'`-:rw^`.`.````_iQQQQBBBB#B
###G|##&, i8#B5=``-=y8K!,``=(&G}uvvV}w6QBBBQBB####
##B: ]BQ=``iBB#5!,``:^%8An___^]?}V}VnnwRBB#B######
##Q, ,G#|,`-~6B&]]^.`_:fZ|,`,`_`.```':?6###B######
##n:`'?#8|,`,,i$B0~-,`-??602]}KyKjld0#####B#######
##?=`'^i#B<_`-=^2#62]],,-r!r?]uh$&RAfw}j##########
##&~=`,~r#R]~`'=^r5m&?_`^`_`-`_`:`.``,(8##########
##w^!:`~!y#6^!,.:!.rj#j,rr_l_--^=i|}mQ############
##&?!<^-?^n#d^,!`.^*=Ah6G#B#8O$Q6Q################
}##Di^^~,?!5#DGd6^<-r,,!,^rV_*-r`<',_-_G##########
]i2#6=:~,-}^|%G0(i`,]`^_-:-:--,.!,^|eDQ###########
-!VQ#0r<?=_^<-^]#Q],:fre,yV,v?}hR#################
|^,u##8yv?*__^^i6#8#5Q@####B&#######@#############
,~uAy##v^^(w^r_-},=?.ii-dv,5uVOV8nZhOw}|!i$#######
?},:^nrO@@@f<_:V,,i-=v-*!'^~.r.:_',--_:*Z#########
yr2}_,rWD#GW]_,n}_~i-?8::n,:i-^?-*!:ljB###########
?^^_vfr_:}0@8r,_fK=~r:8#}A0^:ZiO6wBB##############
r^2?Vr_:!R@@@@02$@@Q@@@@@@@###@@#@################
_,!=:!<,,2Qnn@B8@#O#@#@@@@@@@@@##@@############### */

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
Universal
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

/* Apply styling to all elements (including their `::before` and `::after`
pseudo-elements). One common use of this selector is to apply a custom
`box-sizing`, e.g. as explained here: https://css-tricks.com/?page_id=175473 */
*,
*::before,
*::after {
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
Root
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

:root {
  --maxbodywidth: 50%;

  --nord-dark1: #2e3440;
  --nord-dark2: #3b4252;
  --nord-dark3: #434c5e;
  --nord-dark4: #4c566a;
  --nord-light1: #d8dee9;
  --nord-light2: #e5e9f0;
  --nord-light3: #eceff4;
  --nord-green-blue: #8fbcbb;
  --nord-turquoise: #88c0d0;
  --nord-cyan: #81a1c1;
  --nord-blue: #5e81ac;
  --nord-red: #bf616a;
  --nord-orange: #d08770;
  --nord-yellow: #ebcb8b;
  --nord-green: #a3be8c;
  --nord-pink: #b48ead;
  --nord-light-1: #cdd3e0;
  --nord-light0: #c5ccd8;
  --nord-light4: #f1f3f7;
  --nord-light5: #f8f9fc;
  --nord-grey1: #9ba2ac;
  --nord-black1: #2b303b;
  --nord-black2: #20242c;
  --nord-black3: #15181e;
  --nord-dark5: #606d85;
  --nord-snow: #d8dee9;

  --fontsize: 17px;
  --background: var(--nord-light3);
  --text: var(--nord-black1);
  --buttonclr: var(--nord-dark2);
  --buttontextclr: var(--background);
  --accent: var(--nord-light1);

  --monospace: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono,
    DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
  --sansfonts: "Helvetica Neue", "Segoe UI", Roboto, Oxygen-Sans, sans-serif;
  --seriffonts: Georgia, Garamond, "Times New Roman", Times, serif;

  --headerfonts: Menlo, Monaco, Lucida Console, Liberation Mono,
    DejaVu Sans Mono, Bitstream Vera Sans Mono;
  --bodyfonts: var(--sansfonts);
}

@font-face {
  font-family: font;
  src: url(https://cdnjs.cloudflare.com/ajax/libs/juliamono/0.029/JuliaMono-Regular.woff2);
}

.darkmode {
  --background: var(--nord-black2);
  --text: var(--nord-light5);
  --buttonclr: var(--nord-black3);
  --accent: var(--nord-dark3);
  --buttontextclr: var(--nord-light1);
}

.sansserif {
  --bodyfonts: var(--sansfonts);
  font-size: var(--fontsize);
}

.serif {
  --bodyfonts: var(--seriffonts);
  --headerfonts: "Times New Roman", Times, serif;
  font-size: calc(var(--fontsize) * 1.05);
}

.monospace {
  --bodyfonts: var(--monospace);
  --headerfonts: var(--monospace);
  font-size: var(--fontsize);
}

html {
}
body {
  background-color: var(--background);
  color: var(--text);
  font-family: var(--bodyfonts);
  /* Font varient */
  font-variant-ligatures: none;
  -webkit-font-variant-ligatures: none;
  /* Smoothing */
  text-rendering: optimizeLegibility;

  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;

  line-height: 2em;
  font-size: var(--fontsize);
  max-width: var(--maxbodywidth);
  margin: auto;
  padding: 0px 5px 0px 5px;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
Content sectioning
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
h1 {
  font-family: font var(--headerfonts);
  font-size: calc(var(--fontsize) * 2.8);
  background-color: var(--text);
  color: var(--background);
  padding: 10px 10px;
  margin: 0px;
  line-height: 2em;
  display: inline;
  transition: all 0.4s;
}

h1:hover {
  background-color: var(--background);
  color: var(--text);
  box-shadow: inset 0 -10px 0 var(--accent);
}
h2 {
  font-size: calc(var(--fontsize) * 1.9);
}
h3 {
  font-size: calc(var(--fontsize) * 1.8);
}
h4 {
  font-size: calc(var(--fontsize) * 1.7);
}
h5 {
  font-size: calc(var(--fontsize) * 1.6);
}
h6 {
  font-size: calc(var(--fontsize) * 1.1);
}

h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  /*! letter-spacing: -0; */

  padding: 10px 0px;
  line-height: 1em;
  margin: 5px 0px;
  font-family: font var(--headerfonts);
}

article h2,
article h3,
article h4,
article h5,
article h6 {
  font-weight: 400;
  margin: 2em 0px 1px 0px;
  font-family: font var(--headerfonts);
}

article h1 + article h2 {
  margin: 0px;
}
article h1 + article h3 {
  margin: 0px;
}

h1 + h2,
h2 + h3,
h3 + h4,
h5 + h6,
h1 + h3,
h3 + h5,
h2 + h4,
h4 + h6 {
  margin: 0px;
}

p + h2,
p + h3,
p + h4,
p + h5,
p + h6,
ul + h2,
ul + h3,
ul + h4,
ul + h5,
ul + h6,
blockquote + h2,
blockquote + h3,
blockquote + h4,
blockquote + h5,
blockquote + h6 {
  margin: 3em 0px 0px 0px;
}
header {
  margin: 1em 0px;
}

nav {
  font-family: var(--monospace);
}

nav section {
  display: grid;
  grid-auto-rows: 190px;
  grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
}
nav ul,
nav ol {
}
nav li:first-child {
  /*! margin: 0px 0px 0px 0px; */
  list-style-type: "> ";
}
nav li {
  padding: 10px 0px;
  margin-top: 10px;
  line-height: 1em;
}
nav .child {
  list-style-image: url("folder_16.png");
}
nav .note {
  list-style-image: url("doc_16.png");
}
nav .button {
  padding: 40px 0px;
  overflow: hidden;
}
nav a:visited {
}
nav a:hover {
}
nav a:active {
}

main {
}

article {
  width: 100%;
  min-height: 70vh;
  margin: 10vh 0px;
}
article footer {
  margin: 60px 0px 20px 0px;
  height: unset;
}

section {
  margin: 4em 0px;
}

.content {
  min-height: calc(90vh - 20vh);
}
footer {
  font-size: calc(var(--fontsize) * 0.8);
  text-align: right;
  line-height: 0.8em;
  font-family: var(--monospace);
  height: 20vh;
}

.searchbox input {
  width: 100%;
  margin: 0px;

  width: 100%;
  padding: 20px 10px;
  font-size: calc(var(--fontsize) * 1.5);
  text-align: left;
  border: none;
}
/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
Text block content
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

/* Overall styling, e.g. vertical spacing */
p,
ol,
ul,
pre,
blockquote,
figure,
hr,
dl {
}

p {
  margin: 30px 0px 40px 0px;
}

ol,
ul {
}
ol {
}
ul {
  margin: 0;
  padding: 0;
}
li {
  margin: 25px 0px 10px 40px;
}

ol ol,
ol ul,
ul ul,
ul ol {
}
li li {
}
pre {
}

article ul {
  list-style-type: square;
}

pre code {
  font-family: (--monospace);
  /*! word-wrap: break-word; */
  display: inline-block;
  width: 100%;
  word-wrap: break-word;
  /*! overflow: clip; */
  white-space: pre-wrap;
  font-size: calc(var(--fontsize) * 0.95);
}
pre samp {
}

blockquote {
  font-size: calc(var(--fontsize) * 1.05);
  font-weight: 400;
  margin: 40px 40px;
  padding: 5px 10px 10px 10px;

  border-left: 10px solid var(--accent);
}

figure {
  width: 100%;
  margin: 50px auto;
  text-align: center;
  object-fit: contain;
}
figcaption {
  margin: -10px 0px;
  font-size: calc(var(--fontsize) * 0.98);
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1.1em 0;
  padding: 0;
}

dl {
}
dt {
}
dd {
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
Inline text semantics
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

a {
  text-decoration: none;
  color: var(--text);
  box-shadow: inset 0 -8px 0 var(--accent);
  transition: all 0.4s;
}
a:visited {
}
a:hover {
  box-shadow: inset 0 -16px 0 var(--accent);
}
a:active {
  color: var(--buttonclr);
}

strong {
}
b {
}

em {
}
i {
}

q {
}
cite {
}

s {
}

mark {
  background-color: var(--text);
  color: var(--background);
}

/* If you specify a font size, consider using the `em` unit so that it works
universally, e.g. for both `h1 small` and `p small` */
small {
  font-size: calc(var(--fontsize) * 0.8);
}
sub {
}
sup {
}

code {
}

dfn {
}
abbr {
}
abbr[title] {
}

var {
}
kbd {
}
kbd kbd {
}
samp {
}

u {
}

data {
}
time {
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
Demarcating edits
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

del {
}
ins {
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
Embedded content
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

img {
  width: 80%;
  max-height: 60vh;

  object-fit: contain;
  /*! max-height: 80vh; */
}
svg {
}
video {
}
canvas {
}
audio {
}
object {
}

noscript {
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
Table content
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

table {
  font-size: calc(var(--fontsize) * 0.98);
}
caption {
}
col:first-child {
}
thead {
}

tbody {
}
tfoot {
}
tr {
}
th {
}
th,
td {
  white-space: pre-wrap;
  border: 1px solid #e5e4e2;
}
/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
Forms
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

fieldset {
}
fieldset:disabled {
}
legend {
}

form {
}

label {
}

::placeholder {
}
:focus::placeholder {
}

/* Overall styling, e.g. vertical spacing */
input,
textarea,
select,
.button,
button {
  border: none;
  color: var(--buttontextclr);
  background-color: var(--buttonclr);
  padding: 15px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: var(--fontsize);
  border-radius: 8px;
  margin: 10px 10px;
  cursor: pointer;
  line-height: 2em;
  box-shadow: inset 0 -5px 0 var(--accent);
}
textarea:focus,
input:focus {
  outline: none;
}
.button a:visted,
button:visited,
.button a:active,
button:active {
  color: var(--background);
}

.button:hover,
button:hover {
  background-color: var(--accent);
  color: var(--text);
  box-shadow: inset 0 -0px 0 var(--accent);
}

/* `textarea` and `input` elements that share a similar look and similar styling
capabilities */
/* - common styling */
textarea,
input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
input[type="number"],
input[type="search"],
input[type="url"],
input[type="date"],
input[type="datetime-local"],
input[type="month"],
input[type="week"],
input[type="time"] {
}
/* - individual styling */
textarea {
}
input[type="text"] {
}
input[type="password"] {
}
input[type="email"] {
}
input[type="tel"] {
}
input[type="number"] {
}
input[type="search"] {
}
input[type="url"] {
}
input[type="date"] {
}
input[type="datetime-local"] {
}
input[type="month"] {
}
input[type="week"] {
}
input[type="time"] {
}
/* Tick boxes */
input[type="checkbox"],
input[type="radio"] {
}
input[type="checkbox"]:checked,
input[type="radio"]:checked {
}
input[type="checkbox"] {
}
input[type="checkbox"]:checked {
}
input[type="radio"] {
}
input[type="radio"]:checked {
}
/* Other input fields, some with limited styling capabilities */
input[type="file"] {
}
input[type="color"] {
}
input[type="range"] {
}

select {
}
optgroup {
}
option {
}
option:checked {
}
datalist {
}

button,
input[type="submit"] {
}
button:disabled,
input[type="submit"]:disabled {
}
button.secondary {
}
button.secondary:disabled {
}

/* This matches forms or form elements that are invalid *and* have been
interacted with. Note that:
1) You may need to add the `interacted` class to forms yourself
2) You may need to add the `touched` class to form fields yourself
3) `:user-invalid` is a working draft and not yet supported by most browsers
4) `:-moz-ui-invalid` is non-standard and only works in Firefox
Form validation error messages will appear (in capable browsers) regardless of
this styling. You can omit 1) and 2) and still have working forms. Perfect
example of progressive enhancement. */
/* Applies to invalid forms */
form.interacted:invalid {
}
/* Applies to invalid form fields. You would need to repeat your declarations
for the following three groups of selectors individually. Browsers completely
ignore any rule that contains a selector they do not know. */
form.interacted :invalid,
form .touched:invalid {
}
:user-invalid {
}
:-moz-ui-invalid {
}

output {
}

progress {
}
meter {
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
Interactive elements
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

details {
}
details[open] {
}
summary {
}
details[open] summary {
}

dialog {
}
dialog::backdrop {
}

/* Some form fields, `details`, elements with `tabindex`, and possibly other
elements can be focussed. You should use `:focus-visible` instead of `:focus`
whenever possible. As the former is not yet widely supported, you need to do it
as follows:
1) Set styling on focus
2) If browser supports `:focus-visible`, revert/unset the styling from 1)
3) If the element matches `:focus-visible`, apply the styling again */
:focus {
}
:focus:not(:focus-visible) {
}
:focus-visible {
}

/* extras */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 50vw;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}
/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
Media queries
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

/* @media (prefers-reduced-motion: reduce) {
}
*/

@media screen and (max-width: 900px) {
  :root {
    --fontsize: 15px;
  }
  html,
  body {
    max-width: 100%;
    width: 98%;
    margin: auto;
    padding: 0px;
  }
  .content {
    width: 100%;
    padding: 0px;
    margin: 0px 1px;
  }
  article {
    width: 100%;
  }
  img {
    width: 80vw;
    margin: 0px;
    padding: 0px;
  }

  section {
    padding: 0px;
    margin: 40px 0px;
  }

  table {
    white-space: pre-wrap;
    width: 90%;

    font-size: calc(var(--fontsize) * 0.85);
  }
  table {
    padding: 0px;
    margin: 0px;
    width: 100%;
  }

  thread {
    margin: 0px;
    padding: 0px;
    display: none;
  }

  th,
  td,
  tr {
    text-align: left;
    float: left;
    display: block;
    width: 100%;
    padding: 0px 0px;
    margin: 0px;
    border: 0px solid #e5e4e2;
  }

  button,
  .button {
    width: 90%;
    padding: 20px 0px;
  }
  nav section {
    display: block;
  }
  nav ul {
    margin: 2px 10px;
  }
  nav li:first-child {
    list-style: none;
    margin: 0px 0px 0px 0px;
    list-style-type: "> ";
  }
  nav li {
    padding: 8px 1px;

    margin: 0px 10px 0px 20px;
  }
  nav a button {
    width: 100%;
  }

  nav .child {
    /*! list-style:-webkit-radial-gradient; */
    list-style-image: url("folder_16.png");
  }
  nav li:nth-child(n + 2) a {
    padding: 10px 0px;
    margin: 0px;
    box-shadow: inset 0 0px 0 var(--accent);
    display: block;
  }

  blockquote {
    margin: 2px;
  }
  li {
    margin: 10px 50px;
  }
  h1 {
    font-size: calc(var(--fontsize) * 2);
  }
  h2 {
    font-size: calc(var(--fontsize) * 1.5);
  }
  h3 {
    font-size: calc(var(--fontsize) * 1.3);
  }
  h4 {
    font-size: calc(var(--fontsize) * 1.2);
  }
  h5 {
    font-size: calc(var(--fontsize) * 1.1);
  }
  h6 {
    font-size: calc(var(--fontsize) * 1.1);
  }
  footer {
    line-height: 1em;
    font-size: var(--fontsize);
    text-align: center;
    /*! margin: 0px; */
    width: 100%;
    padding: 0px;
    margin: 50px 0px 10px 0px;
  }
}

@media (orientation: landscape) {
}

@media print {
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: var(--nord-black2);
    --text: var(--nord-light5);
    --buttonclr: var(--nord-black3);
    --accent: var(--nord-dark3);
    --buttontextclr: var(--nord-light1);
  }

  body.lightmode {
    --background: var(--nord-light3);
    --text: var(--nord-black1);
    --buttonclr: var(--nord-dark2);
    --accent: var(--nord-light1);
    --buttontextclr: var(--background);
  }
}

/*
This file evolved from Natural Selection:
https://github.com/frontaid/natural-selection
*/
