:root {
  --mono: consolas, Menlo, Monaco, Lucida Console, Liberation Mono,
    DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New;
  --font: "Helvetica Neue", "Segoe UI", Roboto, Oxygen-Sans, sans-serif;
  --fontsize: 1rem;
  --bk: #f8f9fc;
  --bk2: #eceff4;
  --tc: black;
  --accent:#a3be8c;
  
}