:root {
  --mono: consolas, Menlo, Monaco, Lucida Console, Liberation Mono,
    DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New;
  --font: "Helvetica Neue", "Segoe UI", Roboto, Oxygen-Sans, sans-serif;
  --fontsize: 1rem;
  --bk: #05090A;
  --bk2: #151412;
  --tc: white;
  --accent:#ADE4FF ;
  
}

/* https://www.colourlovers.com/group/Miyazaki-san_Studio_Ghibli/colors?sortCol=groupColorID&sortBy=DESC&page=2 /*