/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
typography
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

:root,
body {
  font-size: var(--fontsize);
  line-height: 1.6em;
  font-family: var(--font);
}

header {
  /* font-size: calc(var(--fontsize) * 1.2); */
}

h1 {
  font-size: calc(var(--fontsize) * 4);
  text-transform: uppercase;
  line-height: 1.5em;
  /* filter:url('#filter');  */
  font-weight: 800;
}
h2 {
  font-size: calc(var(--fontsize) * 1.5);
}
h3 {
  font-size: calc(var(--fontsize) * 1.3);
}
h4 {
  font-size: calc(var(--fontsize) * 1.2);
}
h5 {
  font-size: calc(var(--fontsize) * 1.1);
}
h6 {
  font-size: calc(var(--fontsize) * 1.1);
}

h1,
h2,
h3,
h4,
h5 {
}

blockquote {
  font-size: calc(var(--fontsize) * 1.05);
}

small {
  font-size: calc(var(--fontsize) * 0.8);
}

pre code,
code {
  font-family: (--mono);
  /*! word-wrap: break-word; */
  display: inline-block;
  width: 100%;
  word-wrap: break-word;
  /*! overflow: clip; */
  white-space: pre-wrap;
  font-size: calc(var(--fontsize) * 0.95);
}

@media screen and (max-width: 900px) {
  article h1 {
    font-size: calc(var(--fontsize) * 2.5);
  }
}
